* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #2563eb;
  --secondary-color: #1e3a8a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 30px;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}
.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* gap: 10px; */
}
.search-and-profile-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.search-bar {
  display: flex;
  align-items: center;
  padding: 1em 3em;
  min-width: 200px;
  max-width: 700px;
}
.search-bar input {
  margin-left: 1em;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 30px;
  background-color: rgba(182, 178, 178, 0.373);
}
.profile {
  display: flex;
  min-width: 250px;
  gap: 1.5em;
  align-items: center;
}
.greeting-and-button-container {
  padding: 10px 3em;
  display: flex;
  justify-content: space-between;
}
.greeting-container {
  display: flex;
  gap: 15px;
  align-items: center;
}
.button-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.button-container button {
  width: 70px;
  height: 40px;
  border-radius: 7px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}
.button-container button:hover {
  background-color: #3b82f6;
}

/* Side bar  */

.sidebar {
  grid-row: span 2;
  background-color: var(--primary-color);
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.sidebar svg {
  fill: white;
  width: 2.5rem;
}
.sidebar-heading {
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.sidebar > ul > li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar > ul > li:hover {
  cursor: pointer;
}
.sidebar > ul > li:hover svg {
  fill: var(--secondary-color);
}
.sidebar-settings {
  list-style: none;
}

/* Main  */

.main{
    background-color:rgba(229, 226, 226, 0.593) ;
    display: grid;
    gap: 15px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 1fr 50px 1fr;
}
.project-cards-container{
    grid-area: 2/1/5/2;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2,minmax(200px,1fr));
    /* margin: 0.5rem; */
    margin-bottom: auto;
    justify-items: center;
}
.project-cards-container-heading,.announcements-container-heading,.trending-container-heading{
    margin: 20px 30px 0 30px;
  }
.card{
    border-left: 5px solid rgb(243, 186, 40);
    padding: 1rem 1rem 0 1rem; 
    line-height: 1.6;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px black
}
.card-options{
    margin-top: auto;
    align-self: flex-end;
    display: flex;
    gap: 15px;
}
.announcements-container,.trending-container{
    padding:  1rem; 
    margin:0.52em;
    margin-right: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    height: fit-content;
}
.trending-item{
    display: flex;
    gap: 15px;
    align-items: center;
}