*{
    padding: 0;
    margin: 0;
    
}
.sidebar{
    border: 12px solid green;
}
.header{
    border: 12px solid red;
}
.main{
    border: 12px solid blue;
}
.profile-pic{
    width: 60px;
    border: 1px solid;
    border-radius: 30px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 13fr;
}
.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* gap: 10px; */
    
}
.search-and-profile-container{
 display: grid;
 grid-template-columns: 1fr 1fr;
}
.greeting-and-button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sidebar{
    grid-row: span 2;
}

